body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#classList {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #AAAAAA;
    max-width: 500px;
}

.class-item {
    padding: 4px;
    cursor: pointer;
}

.class-item:hover {
    background-color: #EEEEFF;
}